<div class="card-swap">
  <div class="card-header">
    Details of the Swap request
  </div>
  <div class="card-body">
    <p class="card-text">If you would like to exchange with <strong><%= @user %></strong> for <strong><%= @swap_product %></strong> please choose a one of her products to proceed with the Swap</p>
    <p>If you are not interested</p>
    <%= link_to 'Reject', reject_swap_path(@swap), method: :patch, class: "btn-swap"  %>
  </div>
</div>
