<div class="footer">
  <div>
    <ul>
      <li> <%= link_to 'FAQ', faq_path %></li>
      <li>General Terms</li>
      <li> <%= link_to 'Team', team_path %></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-instagram"></i></li>
      <li>This website was coded with ♥️</li>
    </ul>
  </div>
</div>
