<%= form_tag products_path, method: :get do %>
<div class="d-flex mt-4">
  <div class="search">
      <%= text_field_tag :query, params[:query], autocomplete: "off", class: "form-control", placeholder: "Find a product"%>
  </div>
  <div>
      <%= button_tag  type: "Search", class: "btn-swap" do %>
        <i class="fas fa-search" aria-hidden="true"></i>
      <% end %>
  </div>
</div>
<% end %>
