<div class="container">
  <h2>Requests for You</h2>
    <div class="row">
    <% @swaps.each do |swap| %>
      <div class="col-12 col-sm-12 col-md-4 col-lg-2 card-index card-dashboard">
      <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= swap.product.title %></h5>
        <p class="card-text">Type: <%= swap.product.category %></p>
        <p class="card-text"><%= link_to 'Accept', choose_item_to_swap_path(swap), class: "btn-swap"  %></p>
        <p class="card-text"><%= link_to 'Reject', reject_swap_path(swap), method: :patch, class: "btn-swap"  %></p>
      </div>
      </div>
    <% end %>
  </div>
</div>
