<%= render 'shared/back_arrow' %>
<div class="container">
  <h1 class="mt-3 mb-3">Frequently asked questions</h1>
  <button class="accordion"><i class="fas fa-caret-down"></i></i> What is SwapBox?</button>
  <div class="panel">
    <p>On the <%= link_to 'SwapBox', root_path %> website you can swap things by offering them via an “advertisement” or by responding to open posts.</p>
  </div>

  <button class="accordion"><i class="fas fa-caret-down"></i></i> Who is behind the idea?</button>
  <div class="panel">
    <p>Our <%= link_to 'TEAM', team_path, class: "blue" %> with ambitious goals. We believe in "we" and not just "me". By bringing people into contact with each other and allowing them to swap, we try to offer an alternative to the throwaway culture.</p>
  </div>

  <button class="accordion"><i class="fas fa-caret-down"></i></i> Is SwapBox free?</button>
  <div class="panel">
    <p>Registering with SwapBox is free. Responding to posts from other members, registering your belongings to swap is also free.</p>
  </div>
  <button class="accordion"> <i class="fas fa-caret-down"></i></i> What are the conditions for having an account on SwapBox ?</button>
  <div class="panel">
    <p>SwapBox  allows you to connect with others members and swap stuff. There are no restrictions on having an account and we encourage everyone to join the Swapbox community. When participating, we ask you to observe our general terms.</p>
  </div>
  <button class="accordion"><i class="fas fa-caret-down"></i></i> I need something! How do I find something?</button>
  <div class="panel">
    <p>Click on <%= link_to "All Puzzles&Books", products_path %> to display all products. Use the search bar to find a specific product. </p>
  </div>
  <button class="accordion"><i class="fas fa-caret-down"></i></i> Are the swaps limited?</button>
  <div class="panel">
    <p>You can swap as many products as you would like, as long as you have uploaded products.</p>
  </div>
</div>
