<h1>Hi <%= @user.first_name %></h1>

<div class="container">
  <h2>All yours Products</h2>
  <div class="row">
    <%= render 'shared/my_dashboard' %>
  </div>
</div>


<div class="container">
  <h2>All yours Swaps</h2>
</div>
