.btn-swap {
  background-color: $dark-purple;
  display: inline-block;
  color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 3px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  margin-bottom: 30px;
}

.btn-swap-chat {
  height: 68px;
  margin-bottom: 0;
}

.btn-swap:hover {
  background-color: #fff;
  color: $dark-purple;
  border: 1px solid $dark-purple;
  text-decoration: none;
}

.btn-big {
  width: 120px;
  text-align: center;
}
