.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  border: 2px solid rgba(0,0,0,0.1);
  box-shadow: 3px 6px 10px rgba(0,0,0,0.1);
  width: 200px;
  padding: 20px;
}

.card img {
  height: 100px;
}

.homepage-card {
  height: 250px;
  width: 400px;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.puzzle-card {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), asset-url('puzzle.jpg');
}

.book-card {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), asset-url('books.jpg');
}
