.accordion {
  background-color: $light-gray;
  border: 1px solid $light-purple;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #fff;
  color: $dark-purple;
  border: 1px solid $dark-purple;
}

.panel {
  padding: 12px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  text-align: left;
}
