.footer {
  background-color: $light-purple;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding-right: 1.25rem;
  padding-top: 1rem;
}

li a {
 color: black;
}

@media screen and (max-width: 575px) {
  .no-display {
    display: none;
  }

  li {
    padding-right: 5px;
    padding-top: 5px;
  }
}
