.fa-trash-alt, .fa-edit, .fa-arrow-left,
.fa-check-circle, .fa-info-circle, .fa-puzzle-piece,
.fa-book, .fa-map-marker-alt, .fa-comments,
.fa-user-circle {
  color: #52057b;
}

.fa-arrow-left {
  font-size: 20px;
}

.fa-bell, .fa-envelope {
  color: #bc0f0f;
}

.fa-edit {
  margin-left: 10px;
}
