.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

#map {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 575px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
