#messages {
  padding: 10px;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
  text-align: left;
  .message-container {
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    display: inline-block;
    min-width: 80px;
  }
  .me {
    text-align: right;
    .message-container {
      background-color: $light-purple;
      padding: 5px 10px 5px 5px;
    }
  }
}

.message-container {
  p {
    margin-bottom: 0;
  }
}

.small {
  color: $gray-500;
  margin: 3px 0;
}

.submit-message {
  flex-grow: 1;
}

