#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
  text-align: left;
  .me {
    text-align: right;
  }
}

.author {
  span {
    font-style: normal;
    font-weight: bold;
  }

  small {
    color: $gray-500;
  }
}
