.reviews {
  padding: 10px;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
  h4 {
    text-align: center;
  }
}

.review-container {
  background-color: #FFF;
  padding: 5px 5px 5px 10px;
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 2px;
}

#review-box {
  position: sticky;
  top: 0;
  border: 2px solid rgba(0,0,0,0.1);
  box-shadow: 3px 6px 10px rgba(0,0,0,0.1);
  .fa-star {
    color: #FFD700;
  }
}

.rating {
  text-align: center;
}
